<%- include('Dashboard') %>
<link rel="stylesheet" href="/vendors/datatables.net-bs5/dataTables.bootstrap5.css">

<div class="page-content">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
   + Add investigator
  </button>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">New Investicator</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/AddInvestigator" method="post">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Full Name</label>
              <input required type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="FullName">
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <label class="form-label" style="font-weight: bold;">Sex</label>
              <div style=" border: 1px solid rgb(224, 224, 224);padding: 6px 9px; border-radius: 8px;">

              <div class="form-check form-check-inline mx-5 ">
                <input required class="form-check-input" type="radio" id="inlineCheckbox1" value="Male" name="Sex">
                <label class="form-check-label" for="inlineCheckbox1">Male</label>
              </div>
              <div class="form-check form-check-inline">
                <input required class="form-check-input" type="radio" id="inlineCheckbox2" value="Female" name="Sex">
                <label class="form-check-label" for="inlineCheckbox2">Female</label>
              </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Phone</label>
          <input required type="text" class="form-control" id="exampleInputPassword1" name="Phone">
        </div>

        <div class="input-group flex-nowrap my-2">
          <span class="input-group-text" id="addon-wrapping">Station</span>
          <select name="station" class="form-control">
          <option disabled>Select Station</option>

        <% stations.forEach(station => { %>
            <option value="<%= station._id %>"><%= station.StationName %></option>
        <% }) %>
      </select>

      </div>



        <div style="text-align: end;">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>

        </div>
        </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div> -->
    </div>
  </div>
</div>

<div class="row px-1 mt-4">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">investigator lists</h6>

        <div class="table-responsive">
          <table id="dataTableExample" class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Sex</th>
                <th>Phone</th>
                <th>District</th>
                <th>Action</th>

              </tr>
            </thead>
            <tbody>
              <% Investigators.forEach(Investigator => { %>
              <tr>                
                <td><%= Investigator.FullName %></td>
                <td><%= Investigator.Sex %></td>
                <td><%= Investigator.Phone %></td>
                
                <td><%= Investigator.station_Id ? Investigator.station_Id.District : 'No station assigned' %></td>

                <td>
                  <button type="button" onclick="edit(`<%= Investigator._id %>`, `<%= Investigator.FullName %>`, `<%= Investigator.Sex %>`, `<%= Investigator.Phone %>`)" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" style="border: none;border-radius: 4px; font-size: 15px;padding: 4px 8px;"><i class="fa-regular fa-pen-to-square"></i></button>&nbsp;
                  <a href="/DeleteInvestigator/<%= Investigator._id  %>" class="bg-danger text-light" style="border: none;border-radius: 4px; font-size: 15px;padding: 7px 10px;">
                    <i class="fa-regular fa-trash-can"></i></button>
                </td>

              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/EditInvestigator" method="post">
          <input required type="hidden" id="_id" name="id">
          <div class="mb-3">
              <label for="FullName" class="form-label">Full Name</label>
              <input required type="text" class="form-control" id="FullName" name="FullName">
          </div>
      
          <label class="form-label">Sex</label>
          <div style="border: 1px solid rgb(224, 224, 224); padding: 6px 9px; border-radius: 8px;">
              <div class="form-check form-check-inline mx-5">
                  <input required class="form-check-input" type="radio" id="Sex" value="Male" name="Sex">
                  <label class="form-check-label" for="inlineCheckbox1">Male</label>
              </div>
              <div class="form-check form-check-inline">
                  <input required class="form-check-input" type="radio" id="Sex" value="Female" name="Sex">
                  <label class="form-check-label" for="inlineCheckbox2">Female</label>
              </div>
          </div>
      
          <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Phone</label>
              <input required type="text" class="form-control" id="Phone" name="Phone">
          </div>
      
          <div class="input-group flex-nowrap my-2">
              <span class="input-group-text" id="addon-wrapping">Station</span>
              <select name="Class_id" class="form-control">
                  <option value="">Select Station</option>
                  <option value="Dharkeynlee">Dharkeynlee</option>
              </select>
          </div>
      
          <div style="text-align: end;">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
      </form>
      
    </div>

  </div>
</div>
</div>
<%- include('footer') %>

<script>
function edit(_id, FullName, Sex, Phone, station_Id) {  

    console.log("Officer ID:", _id);
    console.log("Officer Name:", FullName);
    console.log("Officer sex:", Sex);
    console.log("Officer ph:", Phone);
    console.log("Officer Station ID:", station_Id);

    $('#_id').val(_id);
    $('#FullName').val(FullName);
    $('#Phone').val(Phone);
    if (Sex === "Male"){
      $('#Sex[value="Male"]').prop('checked', true);
    }else if (Sex === "Female"){
      $('#Sex[value="Female"]').prop('checked', true); 
    }

    //Station not found buu leeyahy hadii la daabacana waa soo daabacaa
    $('select[name="Class_id"]').val(station_Id).change();
    $('#editModal').modal('show');

}

  
</script>
<!-- Plugin js for this page -->
<script src="/vendors/datatables.net/jquery.dataTables.js"></script>
<script src="/vendors/datatables.net-bs5/dataTables.bootstrap5.js"></script>
<!-- End plugin js for this page -->
<script src="/js/data-table.js"></script>
</div>





