<%- include('Dashboard') %>
<link rel="stylesheet" href="/vendors/datatables.net-bs5/dataTables.bootstrap5.css">

<div class="page-content">
  <!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Attach documents for investigation role </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/AddInvestigation" method="post">
            <input type="hidden" id="CaseId" name="CaseId">
            <diss="mb-5">
              <label for="exampleInputEmail1" class="form-label">witnesses</label>
              <textarea claea name="witnesses" id="tArea" style="width: 100%; padding: 10PX 15PX; " placeholder="Enter Issue" rows="6"></textarea>
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Attachments</label>
                <input required type="file" name="Attachments" class="form-control" id="Attachments">
              </div>
              <div class="mb-3">
                <label for="tArea" class="form-label"></label>
                <textarea name="Description" id="tArea" style="width: 100%; padding: 10PX 15PX; " placeholder="Enter Issue" rows="6"></textarea>
              </div>
              <div style="text-align: end;">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </div>

            <!-- <label for="tArea" class="form-label">Issue</label> -->

          </form>
        </div>
      </div>
    </div>
  

  <div class="row px-1 mt-4">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Investigator LIST</h6>

          <div class="table-responsive">
            <table id="dataTableExample" class="table">
              <thead>
                <tr>
                  <th>Case id</th>
                  <th>Plaintiff</th>
                  <th>Defendant</th>
                  <th>Issue</th>
                  <th>Case type </th>
                  <th>District</th>
                  <th>Investigator</th>
                  <th>witnesses</th>
                  <th>Description</th>
                  <td>Attachments</td>
                  <td>Status</td>
                  <td>Action</td>

                </tr>
              </thead>
              <tbody>
                <% data.forEach(c => { %>
                <tr>
                  <td><%= c.Case_id %></td>
                  <td><%= c.Plaintiff %></td>
                  <td><%= c.Defendant %></td>
                  <td><%= c.Issue %></td>
                  <td><%= c.caseTypes.casseType %></td>
                  <td><%= c.stations.District %></td>
                  <td><%= c.investigators.FullName %></td>
                  <% if (c.InverstigatorRole != undefined ) { %>
                  <td><%= c.InverstigatorRole.witnesses %></td>
                  <td><%= c.InverstigatorRole.Description %></td>
                  <%  %>
                  <% } else { %>
                  <td></td>
                  <td></td>
                  <% } %>


                  
                  <% if (c.Status === "OPENED") { %>
                    <td></td>
                  <td><%= c.Status %></td>

                  <td>
                    <button type="button" onclick="edit(`<%= c._id %>`)" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="border: none;border-radius: 4px; font-size: 15px;padding: 4px 8px;">
                      <i class="fa-solid fa-spinner"></i>
                    </button>&nbsp;

                  </td>

                 <% } else { %>
                    <% if (c.InverstigatorRole != undefined ) { %>
                    <td><a href="../uploads/<%= c.InverstigatorRole.Attachments %>" target="_blank">Attachments</a></td>
                    <%  %>
                    <% } else { %>
                        <td></td>
                    <% } %>


                  <td><%= c.Status %></td>
                  <td>
                    <button type="button" onclick="edit(`<%= c._id %>`, `<%= c.witnesses %>`, `<%= c.Description %>`, `<%= c.Attachments %>`)" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" style="border: none;border-radius: 4px; font-size: 15px;padding: 4px 8px;">
                      <i class="fa-regular fa-pen-to-square"></i>
                    </button>&nbsp;
                  </td>
                  <% } %> 

                </tr>
                <% }) %>


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Button trigger modal -->
  <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/officer">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Full Name</label>
              <input required type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <label class="form-label" font-weight: bold;>Sex</label>
          <div style=" border: 1px solid rgb(224, 224, 224);padding: 6px 9px; border-radius: 8px;">

              <div class="form-check form-check-inline mx-5 ">
                <input required class="form-check-input" type="radio" id="inlineCheckbox1" value="Male" name="Sex">
                <label class="form-check-label" for="inlineCheckbox1">Male</label>
              </div>
              <div class="form-check form-check-inline">
                <input required class="form-check-input" type="radio" id="inlineCheckbox2" value="Female" name="Sex">
                <label class="form-check-label" for="inlineCheckbox2">Female</label>
              </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Phone</label>
          <input required type="text" class="form-control" id="exampleInputPassword1">
        </div>




        <div style="text-align: end;">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
        </form>
      </div>

    </div>
  </div>
</div>
<%- include('footer') %>
<script>
  function edit(_id) {
    console.log("ID0", _id);

    $('#CaseTypeIdRoll').val(_id).change();
    $('#CaseId').val(_id);
    $('#editModal').modal('show');

  }
</script>

<!-- Plugin js for this page -->
<script src="/vendors/datatables.net/jquery.dataTables.js"></script>
<script src="/vendors/datatables.net-bs5/dataTables.bootstrap5.js"></script>
<!-- End plugin js for this page -->
<script src="/js/data-table.js"></script>
</div>
</div>